.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(234, 240, 241);
  font-family: 'roboto';
}
.top-section{
  background-color: #4BCFFA;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 10px;
  flex:1;
}
.sender-receiver{
  background-color: #e0e0e0;
  padding-top: 10px;
  padding-bottom:40px;
  border-radius: 5px;
  margin: 0px 10px;
  flex:1;
  display: flex;
}
.sender-receiver div{
  flex:1
}
svg{
  fill:black;
  transition: all 0.2s;
}
svg:hover{
  fill:#413f3f;
  
}
.add-money{
  background-color:#FBD28B;
  padding: 15px 0px 30px 0px;
  border-radius: 5px;
  margin: 10px;
  flex:1;
  display: flex;
}

.add-money input{
  border:none;
  padding: 8px;
  border-radius: 5px;
  margin-right:10px; 
  min-width: 250px
}

.deal{
  background-color: #e0e0e0;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 10px;
  flex:1;
  flex-direction: row;
  display:flex;
}

.deal .issue{
  flex:6;
  display:flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px;
  min-height: 200px
}
.issue div{
  flex:1
}
button{
  width:150px;
  background: #E71C23;
  padding: 10px;
  margin:auto;
  border: none;
  border-radius: 5px;
  color:white;
  font-weight: 100;
  font-size: 15px;
  transition: all 0.5s;
}
button:hover{
  cursor: pointer;
  background: #f4511e;
}

.deal-options{
  flex:8
}